<div class="background">
  <div class="trivia-container">
    @if(triviaFlag){
     <!-- Timer visual -->
    <div class="timer">
      <span>Tiempo restante: {{ timeLeft }}s</span>
    </div>

    @if(preguntas.length > 0){
      @for(pre of preguntas; track $index){
        @if(tracker == $index){
          <div class="card">
            <h2 class="question">{{ pre.qestion }}</h2>
            <div class="answers">
              @for(ans of pre.answers; track $index){
                <button 
                  class="answer-btn"
                  [ngClass]="{
                    'correct': selectedAnswer === ans && ans.correct,
                    'incorrect': selectedAnswer === ans && !ans.correct
                  }"
                  (click)="selectAnswer(ans)">
                  {{ ans.text }}
                </button>
              }
            </div>
          </div>
        }
      }
    }      
    }
    @else {
      <div class="age-container">
        <h1>¿Cuántos años tenés?</h1>
        <p>Seleccioná tu categoría:</p>

        <div class="buttons">
          <button class="age-btn" (click)="adultSwitch(true)">Soy mayor de edad</button>
          <button class="age-btn" (click)="adultSwitch(false)">soy menor de edad</button>
        </div>
      </div>
    }
  </div>      
</div>
